body{
  font-family: Arial;
}

.todo-grid,
.todo-input-grid{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  color: black;
  row-gap: 10px;
}

.todo-input-grid{
  margin-bottom: 10px;
  align-items: stretch;
}
.name-input,
.due-date-input{
  font-size: 15px;
  padding: 6px;
  
}

.add-todo-button{
  background-color: green;
  border: none;
  color: white;
   padding: 6px;

}

.delete-button{
  background-color: red;
  border: none;
  color: white;
   padding: 6px;
}